<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="catalogo" href="/tabs/catalogo">
      <ion-icon name="paw-outline"></ion-icon>
      <ion-label>Catalogo</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="resenas" href="/tabs/resenas">
      <ion-icon name="chatbubble-ellipses-outline"></ion-icon>
      <ion-label>Resenas</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="perfil" href="/tabs/perfil">
      <ion-icon name="person-circle-outline"></ion-icon>
      <ion-label>Perfil</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="info" href="/tabs/info">
      <ion-icon name="information-circle-outline"></ion-icon>
      <ion-label>Info</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
